.player-info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.player-details {
    width: 25%;
    margin: 0 auto;
}

.match-stats-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.match-stats-table, .match-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.match-stats-table th, .match-stats-table td, .match-table th, .match-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.match-stats-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.match-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.match-stats-table tr:nth-child(even), .match-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.match-table-container {
    width: 50%;
    margin: 0 auto;
}

.winner {
    font-weight: bold;
}

button {
    width: 200px;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgb(231, 150, 0);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d1900d;
  }
