<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>StrefaTenisa.pl</title>
</head>
<body>

<header>
    <h1>StrefaTenisa.pl</h1>
    <nav>
        <ul>
            <li><a th:href="@{index}">Strona Główna</a></li>
            <li><a th:href="@{WTARanking}">Ranking WTA</a></li>
            <li><a th:href="@{ATPRanking}">Ranking ATP</a></li>
            <li><a th:href="@{account}">Twoje Konto</a></li>
        </ul>
    </nav>
</header>

<section class="about-section">

    <table class="table">
        <tr>
            <th>Obserwowani zawodnicy: </th>
        </tr>
        <tr>
            <td><b>Miejsce w rankingu</b></td>
            <td><b>Imię i nazwisko</b></td>
            <td><b>Przestań obserwować</b></td>
        </tr>
        <tr th:each="player : ${followed_players}">
            <td th:text="${player.ranking + '.'}"></td>
            <td th:text="${player.name}"></td>
            <td><form th:action="@{/deleteFollow}" th:object="${player}" method="post">
                <input type="hidden" name="playerID" th:value="${player.playerID}" />
                <button type="submit">Przestań obserwować</button></form></td>
        </tr>
    </table>
</section>


<footer>
    <p>&copy; 2024 StrefaTenisa.pl. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>
