<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>StrefaTenisa.pl</title>
</head>
<body>

<header>
  <h1>StrefaTenisa.pl</h1>
  <nav>
    <ul>
      <li><a th:href="@{index}">Strona Główna</a></li>
      <li><a th:href="@{WTARanking}">Ranking WTA</a></li>
      <li><a th:href="@{ATPRanking}">Ranking ATP</a></li>
      <li><a th:href="@{account}">Twoje Konto</a></li>
    </ul>
  </nav>
</header>

<section class="about-section">
  <p>Aktualny ranking ATP. Najnowsze notowanie w każdy poniedziałek.</p>

  <table class="table">
    <tr>
      <th>RANKING ATP: </th>
    </tr>
    <tr>
      <td><b>Miejsce</b></td>
      <td><b>Imię i nazwisko</b></td>
      <td><b>Kraj</b></td>
      <td><b>Punkty</b></td>
      <td><b>Rozegrane turnieje</b></td>
    </tr>
    <tr th:each="player : ${players}">
      <td th:text="${player.ranking + '.'}"></td>
      <td th:text="${player.name}"></td>
      <td th:text="${player.country}"></td>
      <td th:text="${player.points}"></td>
      <td th:text="${player.tournamentsPlayed}"></td>
    </tr>
  </table>
</section>

<footer>
  <p>&copy; 2024 StrefaTenisa.pl. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>
