<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>StrefaTenisa.pl</title>
</head>
<body>

<header>
    <h1>StrefaTenisa.pl</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Strona Główna</a></li>
            <li><a th:href="@{WTARanking}">Ranking WTA</a></li>
            <li><a th:href="@{ATPRanking}">Ranking ATP</a></li>
            <li><a th:href="@{/}">Twoje Konto</a></li>
        </ul>
    </nav>
</header>

<section class="about-section">
    <p>Najlepszy serwis dla polskich fanów tenisa! Śledź informacje o swoich ulubionych zawodnikach i nie przegap ich żadnego meczu. Załóż konto już teraz!</p>
</section>

<section class="login-section">
    <div th:if="${registration_completed}">[[${registration_completed}]]</div>
    <form action="/login" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Zaloguj się</button>
            <a th:href="@{register}"><button type="button">Zarejestruj się</button></a>
        </div>
    </form>
</section>

<footer>
    <p>&copy; 2024 StrefaTenisa.pl. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>
