<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>StrefaTenisa.pl</title>
</head>
<body>

<header>
    <h1>StrefaTenisa.pl</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Strona Główna</a></li>
            <li><a th:href="@{WTARanking}">Ranking WTA</a></li>
            <li><a th:href="@{ATPRanking}">Ranking ATP</a></li>
            <li><a th:href="@{/}">Twoje Konto</a></li>
            <li><a th:href="@{/}">Zaloguj się</a></li>
        </ul>
    </nav>
</header>

<section class="about-section">
    <p>Ranking WTA</p>
</section>

<footer>
    <p>&copy; 2024 StrefaTenisa.pl. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>
